DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/finance_db
SECRET_KEY=change-this-to-a-random-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
CORS_ORIGINS=http://localhost:5173

CLOUDINARY_CLOUD_NAME=douosmplh
CLOUDINARY_API_KEY=885926811244391
CLOUDINARY_API_SECRET=Y74PsRRYuE0U9c3HyjbpP9dfnqw
